<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="navbar.css">

</head>

<body>

    <!-- Importing navbar here -->
    <%- include("../components/navbar") %>

        <form action="/verify-otp" method="post">

            <input type="number" name="userEmail" placeholder="OTP" required>
            <input type="submit" value="Verify OTP">
        </form>

</body>

</html>