<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="navbar.css">

</head>

<body>
    <!-- Importing navbar here -->
    <%- include("../components/navbar") %>

        <form action="/otp-check/<%-userEmail%>" method="post">
            <p style="color: red;"><%-error%></p>
            <input type="number" name="otp" placeholder="otp" required>
            <input type="submit" value="Verify OTP">
        </form>

</body>

</html>