<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/navbar.css">
    <title>Question Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 2rem;
            max-width: 600px;
            margin: auto;
        }

        h1 {
            color: #333;
        }

        img {
            width: 100%;
            max-width: 500px;
            height: auto;
            margin: 1rem 0;
            border: 1px solid #ccc;
            border-radius: 8px;
        }

        p {
            font-size: 1.1rem;
            line-height: 1.6;
        }
    </style>
</head>

<body>
    <!-- Importing navbar here -->
    <%- include("../components/navbar.ejs") %>
        <h1 id="title"><%-data[0].quesTitle%></h1>
        <p>Author : <u><%-data[0].user.userName%></u></p>
        <img id="image" src="https://scontent.fktm19-1.fna.fbcdn.net/v/t39.30808-6/500334847_697567146197115_4196386894346043771_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeFKvr47m3vHlj0kEVYWdRLqpNn2xOLfccqk2fbE4t9xyuYkE9THCvDMvFPtpY1bW70tI6FFCqr-nh7EWv9xyhLs&_nc_ohc=zATq8YBkK-cQ7kNvwHxbgSJ&_nc_oc=Adm9K1eOw63rj-d3Wz80BAyWwP9YF6YZoqequKZky-ySDFA0wq-98lD4jP4-RZ_8b-I&_nc_zt=23&_nc_ht=scontent.fktm19-1.fna&_nc_gid=bm3EiT7zdcwiC1MlsAvbNg&oh=00_AfJXy6zueuCbQOr9dw5cImuykjn7yE_GTPTa7QD8rPGrcA&oe=683E1194" alt="Question Image">
        <p id="description"><%-data[0].quesDescription%></p>
</body>

</html>